<%-include("header")-%>

<body>

<div class="box" id="heading">
    <h1> <%= titleOfList %> </h1>
</div>    

<div class="box">
 <%  newItems.forEach(item => { %>

<form action="/delete" method="post">
            <div class="item">
       <input type="checkbox" name="checkID" value=" <%= item.id %> " onChange="submit();">
       <p> <%=item.name%> </p>
        </div>
        </form>
       <% })%>
   
        
    <form action="/" method="post" class="item">
        <input type="text" placeholder="New Item" name="task" autocomplete= "off">
        <button type="submit" name="btn" value="<%= titleOfList %>">+</button>
    </form>

</div>

<%-include("footer")-%>

</body>
</html>